<div class="sidebar left">
<br>

  <ul class="side-nav">
    <% @categories.each do |category| %>
      <li><%= link_to category.name, root_path(category_id: category.id),  { class: 'button [radius round]' } %></li>
    <% end %>
  </ul>
</div>

<div class="large-8 columns">
  <div class = "right_side">
    <%= render partial: @category_id.blank? ? 'last' : 'by_category' %>
  </div>
</div>
