h1 {
  border-bottom: 2px solid #000;
  margin: 20px 0 40px 0;
}

h2 {
  border-bottom: 1px solid #000;
}

h3 {
  font-size: 1.3rem;
}

.button{
  width: 150px;
}

.menu_list ul li{
  list-style:none;
}

.menu_list{
  margin: 0 auto;
}

.top-bar-section ul.title-area li > a {
  font-size: 1.2rem;
}
